@media only screen and (max-width: 1300px) {
    .resp-col {
        flex-direction: column;
    }
    .resp-col .poster{
        margin-bottom: 25px;
    }
    .window{
        max-width: 65%;
        margin-top: 3em;
    }
    .skills div{
        padding: 0 0%!important;
        width: 100%;
        justify-content: center;
    }
    .skills div div div{
        margin-top: 20px;
    }

    footer div div {
        width: 25%!important;
    }
}

@media only screen and (max-width: 850px) {
    .window{
        max-width: 90%;
    }
    h1{
        font-size: 250%!important;
    }
    .poster img {
        height: 200px;
        width: 325px;
    }
}