:root {
    --red: #dc3545;
    --yellow: #ffc107;
    --green: #28a745;

    --light: #f8f9fa;
    --dark: #343a40;

    --light1-bg: #e9d5a1;
    --light2-bg: #f8f9fa;
    --light3-bg: #efe1bd;
    --dark1-bg: #494949;
    --dark2-bg: #7f7f7f;
    --dark3-bg: #5b5b5b;
    --dark-bg: #1f1f1f;

    --font-family-Raleway: "Raleway",sans-serif;
    --font-family-Franklin: "Franklin Gothic Medium","Arial Narrow",Arial,sans-serif;
    --font-family-Trebuchet: "Trebuchet MS","Lucida Sans Unicode","Lucida Grande","Lucida Sans",Arial,sans-serif;
}

body{
    margin: 0;
}

/* GLOBAL */
.aligner {
    display: flex;
    align-items: center;
    justify-content: center;
}
.row {
    display: flex;
    flex-direction: row;
}
.col{
    display: flex;
    flex-direction: column;
}

/* HEADER */
header{
    height: 100vh;
}
.info-data>img{
    height: 200px;
}
.info-data>h1{
    font-size: 300%;
    text-align: center;
    font-weight: 600!important;
    font-family: var(--font-family-Franklin);
    width: 100%;
    margin-bottom: 10px;
}
.info-data>h2{
    font-family: var(--font-family-Raleway);
    text-transform: uppercase;
    font-weight: 300;
    margin: 0 0 20px 0;
    min-height: 30px;
}

.flag>a>img{
    height: 35px;
    width: 60px;
    border-radius: 10px;
    margin: 15px;
}
